.page-link.activated {
  color: #00b5cc !important;
  font-weight: 500 !important;
}

.page-link.disabled {
  color: #00b4cc4b !important;
  font-weight: 500 !important;
}

.border-green {
  border-color: #8FB12F !important;
}
